*:focus {
    outline: 0;
}



.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0)), url("../../images/Logo/homepage_background.jpg");
    width: 100%;
    height: 100vh;
}

.bg-green {
    background: #a6bfa5ff;
}

.bg-white {
    background: white;
}

.bg-transparent {
    background: none;
}

.text-green {
    color: #a6bfa5ff;
}

.text-dark-green {
    color: #00892B;
}

.text-black {
    color: black;
}

.btn-pill-small {
    border-radius: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-pill {
    border-radius: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-green-pill {
    background: #a6bfa5ff;
    font-weight: bold;
    border-radius: 24px;
}

.btn-cancel {
    background: white;
    color: dimgrey;
    border: none;
    border-radius: 24px;
}

    .btn-cancel:hover {
        background: #F5F5F5;
        transition-duration: 0.3s;
    }


.btn-view-reply {
    background: white;
    border: none;
    border-radius: 24px;
}

    .btn-view-reply:hover {
        background: #a6bfa5ff;
        transition-duration: 0.3s;
    }


.w300-h40 {
    width: 300px;
    height: 40px;
}

.btn-green {
    background: #a6bfa5ff;
    font-weight: bold;
}

    .btn-green:hover {
        background-color: black;
        color: #a6bfa5ff;
        transition-duration: 0.3s;
    }


.btn-white {
    background: white;
    font-weight: bold;
}

    .btn-white:hover {
        background-color: black;
        color: #a6bfa5ff;
        transition-duration: 0.3s;
    }

.logo {
    height: 40px;
}

.text-orange {
    color: orange;
}

.text-decoration-underline {
    text-decoration: underline;
}

.profile-picture {
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.wh-30 {
    width: 30px;
    height: 30px;
}

.wh-50 {
    width: 50px;
    height: 50px;
}

.wh-100 {
    width: 100px;
    height: 100px;
}

.wh-150 {
    width: 150px;
    height: 150px;
}

.width-50 {
    width: 50px;
}

.col-fixed {
    flex: 0 0 auto;
}


.hidden {
    display: none;
}


.like-button {
}

    .like-button:hover {
        background: #a6bfa5ff;
        transition: 0.3s;
    }


.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
}






.tagDisplay {
    font-size: 10px;
    height: 20px;
    width: auto;
    padding: 2.5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background: lightgrey;
    margin-bottom: 10px;
    margin: 5px;
}


input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
    font-size: 14px;
}

input[type=checkbox]:checked + label {
    color: black;
    font-style: normal;
    font-size: 14px;
}

.italic {
    font-style: italic;
}

.scroll {
    overflow-y: scroll;
}

.chatName {
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: start;
}

.chatTab {
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    align-items: center;
    justify-content: start;
}

    .chatTab:hover {
        background: #a6bfa5ff;
    }

.chatBubble {
    border-radius: 10px;
    height: auto;
    min-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-all;
}


.highlight {
    background-color: yellow;
}

.password-toggle-icon {
    position: absolute;
    top: 75%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

    .password-toggle-icon i {
        font-size: 18px;
        line-height: 1;
        color: #333;
        transition: color 0.3s ease-in-out;
        margin-bottom: 20px;
    }

        .password-toggle-icon i:hover {
            color: #000;
        }


.scrollbar {
    height: 300px;
    width: 50%;
    overflow: auto; /* Allows scrolling */
    position: relative;
    box-sizing: content-box; /* Ensures padding doesn't affect the total width */
}

    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: transparent;
        transition: background-color 0.3s, opacity 0.3s;
    }

    .scrollbar:hover::-webkit-scrollbar-thumb {
        background-color: #a6bfa5ff;
        opacity: 1;
    }


.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.search-bar {
    margin-bottom: 10px; /* Space between search bar and chat list */
    background-color: #ffffff; /* White background */
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

    .search-bar input {
        border: none;
        box-shadow: none;
    }

.verify-input {
    width: 32px;
    height: 32px;
    text-align: center;
    border: none;
    border-bottom: 3px solid #d2d2d2;
    margin: 0 10px;
}

    .verify-input:focus {
        border-bottom: 3px solid #a6bfa5ff;
        outline: none;
    }
