<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <style>
    </style>
    <div class="bg-img">
       
        <div class="container pt-5">
            @if (Context.Session.GetString("authenticated") == null || Context.Session.GetString("authenticated") == "false")
            {   
                <div class="col">
                    <h4 class="row">Welcome to</h4>
                    <h4 class="row text-decoration-underline">The Forum Talk</h4>
                    <br />
                    <h4 class="row">Connect with others today!</h4>
                    <form class="row" action="~/Home/Register">
                        <button class="btn-green w300-h40">GET STARTED</button>
                    </form>
                </div>
            } else
            {
        
                <div class="row" style="height:30vh;">
                    <div class="col align-items-center justify-content-center d-flex text-center">
                        <h1>Welcome back @Context.Session.GetString("name")!</h1>
                    </div>
                </div>
            }
        </div>
    </div>


</body>
</html>
