@model NUS_Orbital.Models.Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-img">
        </br>
        <div class="container">
            <form class="row" method="post" action="~/Home/Register">
                <div class="col-lg-5 col-sm-10 bg-green p-5">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" type="email" class="form-control" id="email" required oninput="checkFormValidity()" o>
                        <p class="text-danger">@TempData["EmailValidation"]</p>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" id="name" required oninput="checkFormValidity()>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" type="password" class="form-control" id="password" required oninput="checkFormValidity()">
                        <div id="complexityMessage"></div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" required oninput="checkFormValidity()">
                        <div id="confirmPasswordMessage"></div>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn-white w-100 pt-2 pb-2" id="submitBtn" disabled>Register</button>
                    </div>
                    <div class="justify-content-center text-center mt-3">
                        <a href="~/Home/Login">Already have an account? Login here!</a>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>

    <script>
        function checkFormValidity() {
            var email = document.getElementById("email").value;
            var name = document.getElementById("name").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var complexityMessage = document.getElementById("complexityMessage");
            var confirmPasswordMessage = document.getElementById("confirmPasswordMessage");
            var submitBtn = document.getElementById("submitBtn");

            var complexityRegex = /^(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
            var isPasswordValid = complexityRegex.test(password);

            if (password != "") {
                if (isPasswordValid) {
                    complexityMessage.innerHTML = "Password meets complexity requirements.";
                    complexityMessage.style.color = "green";
                } else {
                    complexityMessage.innerHTML =
                        "Password must:<br>" +
                        "- Be at least 8 characters long<br>" +
                        "- Contain at least one uppercase letter<br>" +
                        "- Contain at least one lowercase letter";
                    complexityMessage.style.color = "red";
                }
            } else {
                complexityMessage.innerHTML = "";
            }
            

            if (confirmPassword != "") {
                if (password != confirmPassword) {
                    confirmPasswordMessage.innerHTML = "Password does not match";
                    confirmPasswordMessage.style.color = "red";
                } else {
                    confirmPasswordMessage.innerHTML = "Password matches";
                    confirmPasswordMessage.style.color = "green";
                }
            } else {
                confirmPasswordMessage.innerHTML = "";
            }
            

            var isFormValid = email && name && isPasswordValid && (password === confirmPassword);

            submitBtn.disabled = !isFormValid;
        }
    </script>
</body>
</html>
