@model NUS_Orbital.Models.Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="~/NUS_Orbital.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-img">

    <div class="container justify-content-center align-items-center d-flex flex-column">

        <form class="mt-5 bg-green p-5" method="post" asp-action="Register">
            <div class="mb-3">
                <label asp-for="email" class="form-label"></label>
                <input asp-for="email" type="email" class="form-control" id="email">
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="name" class="form-label"></label>
                <input asp-for="name" class="form-control" id="name">
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="password" class="form-label"></label>
                <input asp-for="password" type="password" class="form-control" id="password">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="dob" class="form-label"></label>
                <input asp-for="dob" type="date" class="form-control" id="dob">
                <span asp-validation-for="dob" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-green">Register</button>
        </form>
    </div>

    </div>
</body>
</html>
